<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUgB09kuSxcMZsofB1fHPFCYwHOUxHVSs</string>
	<key>GCM_SENDER_ID</key>
	<string>1032477261150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wapertech.studyPlanner</string>
	<key>PROJECT_ID</key>
	<string>study-planner-260721-1286</string>
	<key>STORAGE_BUCKET</key>
	<string>study-planner-260721-1286.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032477261150:ios:f16894940478a8abd7a3cf</string>
</dict>
</plist>